body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 73px;
    border-radius: 1rem;
}

.nav{
    height: 112px;
    background-color: #121212;
    margin: 8px;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    transition: all 0.1s ease-in;
    
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    height: 100%;
    background-color: #121212;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    overflow: auto;
}

.options{
    display: flex;
    justify-content: space-between;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
}

.box{
    background-color: #242424;
    padding: 1.5rem;
    border-radius: 0.75rem;
    margin: 1rem 0;
}

.box-p1{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 2rem;
}

.box-p2{
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
    opacity: 0.8;
    line-height: 1.2rem;
}

.badge{
    padding: 0.75rem 1rem;
    border-radius: 100px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.badge:hover{
    transform: scale(1.04);
}